.header {
  /* width: calc(100vw - 250px); */
  flex: 1;
  display: flex;
  width: 100%;
}

aside svg {
  font-size: 30px;
  cursor: pointer;
}

.open {
  background: #2280ff;
  height: calc(100vh - 70px);
  width: 250px;
  position: relative;
  animation: slideOpen 0.3s 1;
  overflow: auto;
}

.closed {
  background: #2280ff;
  height: calc(100vh - 70px);
  width: 80px;
  position: relative;
  animation: slideClose 0.3s 1;
  overflow: auto;
}

@keyframes slideOpen {
  from {
    width: 80px;
  }
  to {
    width: 250px;
  }
}

@keyframes slideClose {
  from {
    width: 250px;
  }
  to {
    width: 80px;
  }
}

li.list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
}

.hide {
  display: none;
}

li.list span {
  padding: 0 10px;
}

.content {
  display: flex;
}
