.home-container {
  background-color: #fff;
  width: 100%;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* overflow: hidden; */
  padding: 1rem;
}

.search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  position: sticky;
}

.line-company:hover {
  background-color: #f0f0f9;
  cursor: pointer;
}

.line-company:hover td {
  /* background-color: red; */
  font-weight: bold;
}

.home-container th {
  font-weight: 700;
}

.tableModules {
  height: calc(100vh - 195px);
}
