.cardsApps {
  padding-top: 25px;
  display: flex;
}

.scroll-x {
  overflow-x: hidden;
}

.scroll-x:hover {
  overflow-x: scroll;
}

.cardsApps::-webkit-scrollbar {
  width: 5px;
  border-radius: 10px;
  height: 5px;
}

.cardsApps::-webkit-scrollbar-track {
  background: #f1f1f1;
  width: 10px;
  border-radius: 10px;
}

.cardsApps::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
